numpy
pandas
geopandas
rasterio
scikit-learn
matplotlib
seaborn
earthengine-api
geemap
pyyaml
GDAL
autogluon
tqdm
reportlab
scipy
openpyxl
plotly
folium
xgboost
lightgbm
catboost
torch
torchvision
dtreeviz